page-apagaimovel {
  ion-card {
       position: relative;
      text-align: center;
    }

    .card-title {
      position: absolute;
      margin-top: -40%;
      font-size: 2.0em;
      width: 100%;
      font-weight: bold;
    }
    .escurecer{
      position: relative;
      opacity: 0.6;
      filter: alpha(opacity=60);
      background-color:rgba(0,0,0,0.7);
    }
  .card-subtitle{
    position: absolute;
      top: 82%;
      font-size: 1.0em;
      width: 100%;
      font-weight: bold
  }
  .titulo{
    font-weight: bold;
    font-size: 1.9em;
    color: color($colors, primary-text-color);
  }
  .aviso{
    padding: 10px;
    color: red;
  }
  ion-content{background: #6200ee;
    background: -moz-linear-gradient(top, #6200ee 2%, #8138ed 39%, #bfa1ed 100%);
    background: -webkit-linear-gradient(top, #6200ee 2%,#8138ed 39%,#bfa1ed 100%);
    background: linear-gradient(to bottom, #6200ee 2%,#8138ed 39%,#bfa1ed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6200ee', endColorstr='#bfa1ed',GradientType=0 );
}
}
