page-login {
  .no-scroll .scroll-content{
    overflow: hidden;
  }

  .logItem{
     margin-top: 30vh
  }
  .bgImg{
      background-image: url('../assets/imgs/bg.jpg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      position: absolute;
      filter: blur(5px);
      z-index: -1;
  }
  
  .card{
      border-radius: 20px;
      position: absolute;
      z-index: 10;
  }
}
