page-editar-ap {
  .verifica{
    padding: 20px;
    font-size: 2vh;
}

.exemploS{
    border: 1px solid green;
    margin-bottom:10px;
    margin-top: 10px
}
.cards-info{
    margin: 0 auto;
    margin-bottom:10px;
    width: 90%;
    border-radius: 30px;
}
.bg-color{
    background-color: #fcfcfc;
}
}
